# Default ignored files
/springboot-01-helloworld/.mvn/
/springboot-02-config/.mvn/
/springboot-03-web/.mvn/
/springboot-04-data/.mvn/
/springboot-05-mybatis/.mvn/
/springboot-06-security/.mvn/
/springboot-07-shiro/shiro-springboot/.mvn/
/springboot-08-swagger/.mvn/
/springboot-09-test/.mvn/
/springboot-10-redis/.mvn/